<div class="d-flex cocktail-show-card">
  <div class="m-3">
    <div id="cocktail-show">
      <div id='cocktail-name-show'>
        <h1><%= @cocktail.name %></h1>
      </div>
      <div>
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "https://www.acouplecooks.com/wp-content/uploads/2019/09/Whiskey-Sour-111s.jpg", :size => "400x400"%>
        <% end %>
      </div>
      <div id="showcard-buttons-container">
        <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "showcard-buttons"%>
        <%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?'}, class: "showcard-buttons" %>
      </div>
    </div>
  </div>
  <div class="m-3">
    <div id="ingredients-container">
      <div id="cocktail-ingredients-show"><h1>Ingredients</h1></div>
      <div id="cocktail-doses-show">
        <% @cocktail.doses.each do |dose| %>
          <div class="doses-details">
            <%= dose.ingredient.name + ':' %> 
            <%= dose.description %> 
            <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "doses-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="m-3 add-dose-form">
    <div id="cocktail-ingredients-show"><h1>Add ingredient</h1></div>
    <div class="form">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC'), input_html: { class: "select2" } %>
        <%= f.input :description, placeholder: "e.g. 100 ml" %>
        <div id="add-button-container"><%= f.submit "Add", class: "add-button"%></div>
      <% end %>
    </div>
  </div>
</div>
